#footer

  -# cross-site navigation, add correct links
  %nav
    %ul
      %li
        %a(href="http://2014.arrrrcamp.be" title="ArrrrCamp")
          ArrrrCamp
      %li
        %a(href="http://euru.camp" title="#{t("footer_nav.eurucamp.title")}")
          Application by euru.camp
